[Unit]
Description=CNCJS server
After=cncjs_custom.service
[Service]
ExecStart=/usr/bin/node /home/pi/cnc-panel
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cnc_panel
User=pi
#Group=<alternate group>
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
