[Unit]
Description=CNCJS server
After=cncjs_custom.service
[Service]
ExecStart=/usr/bin/node /home/pi/cnc-panel
Restart=always
RestartSec=10                       # Restart service after 10 seconds if node service crashes
StandardOutput=syslog               # Output to syslog
StandardError=syslog                # Output to syslog
SyslogIdentifier=cnc_panel
User=pi
#Group=<alternate group>
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target